@{
    ViewBag.Title = "Home Page";
}
<h1 style="text-align:center">Tip4Trip</h1>
<body style="background-color:darkslateblue">

    <div class="jumbotron" style="background-color:chartreuse">

        <h2>Tip4Trip</h2>
       <p>@Html.ActionLink("Houses","Index","Houses")</p>

        <p class="lead">Tip4Trip is the new AirBnB for northern Greece</p>
        <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</body>
